{% extends "base.html" %}
{% block content %}
    <div class="container shadow p-4">
        <h3 class="text-success">ABOUT US</h3>
        <p>
            Success Home is a verified and trusted exam expo site, for students writing Waec to get Waec exam runs, Neco exam answer, nabteb expo, GCE answer runs, Successhome has a good record of students that has pass with wonderful grade on there platform, are you looking for a way to pass Waec,Neco,Nabteb, GCE exam try Success Home today.
        </p>
    </div>
{% endblock content %}
