{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8757076203661957"
     crossorigin="anonymous"></script>
    </head>
    <body>
        <main role="main" class="col-md-11 m-auto  col-sm-12 shadow mb-2 p-3 bg-white rounded">
            <div class="p-4 bg">
                <h1 class="text-center success display-4">
                    <i class="fa fa-home"></i> SUCCESS HOME
                </h1>
            </div>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                {% include 'navbar.html' %}
            </nav>
            <div class="alert text-center bg-success ">
                <a class="text-white" href="https://t.me/+dpUl7oFJpWxmMmI0" target="blank">
                    <p>
                        PLEASE JOIN OUR TELEGRAM GROUP AND STAY UPDATED WITH FREE ANSWERS
                    </p>
                    <p>
                        -CLICK HERE TO JOIN OUR TELEGRAM CHANNEL NOW!
                    </p>
                </a>
            </div>
            <section class=" pb-5 col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'error' %}alert-danger {% else %}alert-{{ message.tags }}{% endif %}  alert-dismissible fade show text-center"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock content %}
            </section>
            <footer class="text-center">
                <small >Copyright &copy; Success Home</small>
            </footer>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>
