{% extends "base.html" %}
{% block content %}
    <br />
    <marquee behavior="" direction="">
        <p class="">YOUR #1 BEST WEBSITE FOR WAEC RUNZ | NECO RUNZ AND GCE RUNZ </p>
    </marquee>
    <div class="border border-primary text-center p-3 m-4 rounded-pill">
        <h5>SUCCESS HOME CONTACTS</h5>
        <h6>
            <span>
                <i class="fa fa-whatsapp text-success" aria-hidden="true"></i>
                09133520101
            </span>
            <span>&nbsp; || &nbsp;</span>
            <span>
                <i class="fa fa-phone text-success" aria-hidden="true"></i>
                +2348167402410
            </span>
        </h6>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="number"
                   class="form-control rounded"
                   name="exam"
                   placeholder="Enter your pin HERE"
                   aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="submit" class="btn btn-outline-primary">Get Answer</button>
        </div>
    </form>
    <br />
    <div>
      {% for exam in examlist %}
      <div>
        {{exam.exam_pin.older_than_a_day}},
      </div>
      {% endfor %}
    </div>
    <div class="border-top ">
        <div class="border-bottom  ">
            {% for exam in examlist %}
                <div class=" shadow p-3 col-sm-12">
                    <h3>{{ exam.subject|upper }}</h3>
                    <small class="text-muted">
                        <span>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{ exam.author }}
                        </span>
                        &nbsp;
                        <span>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ exam.updated }}
                        </span>
                    </small>
                    <hr />
                    <div>
                        {% if exam.status == 'LOADING...' %}
                            <p class="text-danger">
                                <strong>({{ exam.status }})</strong>
                            </p>
                        {% else %}
                            {{ exam.content |safe }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for timetable in timetable_list %}
                <div class="col-md-5 m-4 border border-primary p-3  rounded">
                    <h6 >
                        <a class="text-primary" href="{% url 'timetable' timetable.pk %}">{{ timetable.title|upper }}</a>
                    </h6>
                    <p class="{% if timetable.status == 'LOADING...' %}text-danger {% else %}text-success{% endif %}">
                        <strong>({{ timetable.status }})</strong>
                    </p>
                </div>
            {% endfor %}
            <div class="col-md-5 m-4 border border-primary p-3  rounded">
                <h6>
                    <a class="text-primary" href="https://t.me/+dpUl7oFJpWxmMmI0" target="blank">
                        <i class="fa fa-telegram" aria-hidden="true"></i> 
                        Join our Telegram Group for more updates
                    </a>
                </h6>
            </div>
        </div>
    </div>
{% endblock content %}
